@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Amaranth';
  src: url('/fontcopy/Amaranth/Amaranth-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fontcopy/Inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('/fontcopy/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio';
  src: url('/fontcopy/Antonio/Antonio-Regular.ttf') format('truetype');
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-antonio {
  font-family: 'Antonio', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif;
  font-weight: 200;
}

p, .description, .desc, .lead, .paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
/* Pagination container */
.surgery-swiper .swiper-pagination {
  bottom: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default dot */
.surgery-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0.4;
  margin: 0 6px !important;
  border-radius: 999px;
  transition: all 0.35s ease;
}

/* Active dot */
.surgery-swiper .swiper-pagination-bullet-active {
  width: 28px;
  background-color: #f39c12; /* your Donate button color */
  opacity: 1;
}
.remove-scroll{
  scrollbar-width: none;
}
